@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;

    height: 100vh;

    background: #e0e0e0;
}

h1, p {
    color: black;
}

hr {
    margin: 0;
    padding: 0;
    background: #000;
    width: 100%;
    height: 1px;
}

.linha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    width: 100%;

    margin: 0.6rem;
    margin-bottom: 1rem;
}

.linha > .linha {
    display: flex;
    flex-direction: row;

    margin: 0;

    width: 100%;
}





.box {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: calc(100% - 30px);
    height: 80%;

    padding: 0;

    border-radius: 20px;

    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.caixa-input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: 1rem;

    height: 100%;
}

.caixa-botao {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 5%;

}

.caixa-botao > button {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;

    overflow: hidden;

    width: 100%;
    height: 25px;

    color: rgb(0, 0, 0);
    background: #e0e0e0;
    box-shadow:  20px 20px 40px #bebebe,
    -20px -20px 40px #ffffff;

    transition: 300ms;
}

.caixa-botao > button:hover {
    scale: 1.05;
    cursor: pointer;
}

.caixa-botao > button:hover::before {
    content: '';
    position: absolute;

    width: 550px;
    height: 550px;

    border-radius: 50%;
    border: 10px solid transparent;

    background: transparent;

    box-shadow: 0px 0px 40px 7px #f1f1f1,
    inset 0px 0px 20px 2px #b6b6b6;

    animation: onda 5s linear;
}
@keyframes onda {
    0% {
        transform: scale(0.01);
    }

    100% {
        transform: scale(1);
    }
}





.caixa-input > .linha > input,
.caixa-input > .linha > .linha > input {
    margin: 0.4rem;
    padding: 0.2rem;

    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);

    background: none;

    width: 100%;
    height: 20px;

    outline: none;
    transition: 400ms;
}

input:hover {
    box-shadow: 0px 0px 5px rgb(139, 139, 139);
}

/* ------------------------------ caixa 2 -------------------------------- */

.coluna {
    display: flex;
    flex-direction: row;

    margin: 0;

    width: 100%;
}


.box2 {
    display: none;
    align-items: center;
    flex-direction: column;

    width: calc(100% - 30px);
    height: 80%;

    padding: 0;

    border-radius: 20px;

    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.caixa-resu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.caixa-resu2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.caixa-resu2 > .linha > input {
    text-align: center;

    width: 80px;
    height: 100%;

    border-radius: 2px;
    border: none;
    padding: 0;

    background: none;
}

.caixa-resu2 > .linha {
    height: 100%;
}
/* ------------------------ responsividade ------------------ */

@media (min-width: 768px) {
    .box, .box2 {
        width: calc(100% - 300px);

    }

    .box2 > .caixa-botao > button {
        width: 30%;
    }
}